.body{
  background-color: #f148b0;
  display: grid;
  grid-template-rows: repeat(12,auto);
  grid-template-columns: repeat(12,auto);
  gap:10px
}
.header{
  background-color: rgb(140, 184, 231);
  grid-area: 1/1/2/13;
  flex-wrap: wrap;
  align-content: center;
}
.content{
  background-color: #b0bec8;
  grid-area: 2/1/12/13;
  text-align: center;
  display: grid;
}
.footer{
  background-color: blanchedalmond;
  grid-area: 12/1/13/13;
}


